﻿body {
    padding: 0;
    margin: 0;
    background-color: black;
}

#GameLogin_Loading {
    position: absolute;
    left: 0;
    top: 0px;
    background-color: #281710;
    background-image: url(../loaderImg/loginLoading.png);
    background-size: 100% 100%;
    text-align: center;
    z-index: 9999;
    width: 320px;
    height: 480px;
}


#GameLogin_Loading .GameLogin_loadingLineOuter{
    background-size: 100% 100%;
    position: absolute;
    border-radius:10px;
    display: none;
}
#GameLogin_Loading .GameLogin_loadingLine{
    background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#BEECFC), to(#0A97EF), color-stop(1.0,#4EBAEB),color-stop(0.5,#0A97EF));
    height: 100%;
    border-radius: 10px;
    background-size: 100% 100%;
    width: 0;
    display: none;
}
#GameLogin_Loading .GameLogin_loadingLineValue{
    color: white;
    display: none;

}